@import '~@angular/material/theming';
@import '../../../../dist/mnj-ngx-pdfviewer/pdf-viewer-theme.scss';

@include mat-core();

$light-app-primary: mat-palette($mat-indigo);
$light-app-accent: mat-palette($mat-pink, A200, A100, A400);

$light-app-warn: mat-palette($mat-red);

$light-app-theme: mat-light-theme(
  (
    color: (
      primary: $light-app-primary,
      accent: $light-app-accent,
      warn: $light-app-warn,
    ),
  )
);

.light-theme {
  @include angular-material-theme($light-app-theme);
  @include mnj-pdf-viewer-theme($light-app-theme);
}
