@import '~@angular/material/theming';
@import '../../../../dist/mnj-ngx-pdfviewer/pdf-viewer-theme.scss';

@include mat-core();

$dark-app-primary: mat-palette($mat-indigo);
$dark-app-accent: mat-palette($mat-pink, A200, A100, A400);

$dark-app-warn: mat-palette($mat-red);

$dark-app-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-app-primary,
      accent: $dark-app-accent,
      warn: $dark-app-warn,
    ),
  )
);

.dark-theme {
  @include angular-material-theme($dark-app-theme);
  @include mnj-pdf-viewer-theme($dark-app-theme);
}
