@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import '../../../../dist/mnj-ngx-pdfviewer/pdf-viewer-theme.scss';

@include mat.core();

$light-app-primary: mat.define-palette(mat.$indigo-palette);
$light-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$light-app-warn: mat.define-palette(mat.$red-palette);

$light-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-app-primary,
      accent: $light-app-accent,
      warn: $light-app-warn,
    ),
  )
);

.light-theme {
  @include mat.all-component-themes($light-app-theme);
  @include mnj-pdf-viewer-theme($light-app-theme);
}
